/*Styling for all the advance soundboard. All three link in one CSS file.*/

/*Body styling, to have a bacground image and a diffent font.*/
body{
    text-align: center;
    background-image: url("images/soundboard-background.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 90px;
}

/*Bigger heading*/
h1 {
    font-size: 70px;
}

/*Button styling, has a background-color, border-radius, border, etc.*/
button {
    background-color: rgba(70, 31, 9, 0.589);
    border-radius: 20px;
    border: none;
    padding: 1rem;
    color: white;
    margin: 5px;
    font-size: 30px;
}

/*Adding an hover effect to the buttons.*/
button:hover {
    background-color: white;
    color: black;
}

/*The main div having display to flex, to have two columns.*/
.main_div {
    display: flex;
    margin: 5px;

}

/*Left column equal size to right column.*/
.left{
    flex: 50%;
}

/*Right column equal size to left column.*/
.right{
    flex: 50%;
}

/*Text area styling.*/
textarea {
    background-color: rgba(70, 31, 9, 0.589);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-size: 13px;
    padding: 1rem;
    border: none;
}

/*Input styling, button.*/
input {
    font-size: 30px;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    background-color: rgba(70, 31, 9, 0.589);
    color: white;
    padding: 1rem;

}

/*Hover effect for the input styling.*/
input:hover{
    background-color: white;
    color: black;
}