/*CSS code for RGB*/

/*Body styling*/
body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 25px;
}

/*Buttons styling*/
.button{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    padding: 7rem;
}

/*The button id="next" styling*/
#next{
    margin-top: 1rem;
    font-family: monospace;
    font-size: 28px;
}
